In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns

In [10]:
from params import EXPERIMENT_RAW_DATA_PATH, EXPERIMENT_PROCESSED_DATA_FOLDER, TEST_SET_FILENAME, TRAIN_SET_FILENAME, RANDOM_SEED
np.random.seed(RANDOM_SEED)

In [3]:
df = pd.read_excel(EXPERIMENT_RAW_DATA_PATH)

In [4]:
df.head()

,Unnamed: 0,post_type,author,published,bank,title,body,rating
0,0,Review,ned.veegres,2021-03-07,Тинькофф Банк,Акция Тинькофф &quot;приведи друга&quot;,Привёл друга по акции за вознаграждение 500 ру...,1
1,1,Review,user_1043441,2021-03-07,МТС Банк,Блокировка карты из-за сомнительных операций,"Началось все с того, что без предупреждения и ...",2
2,2,Review,gneg,2021-03-05,Тинькофф Банк,Очень небезопасно доверять им свои деньги,Оставил заявку на дебетовую карту. Со второй п...,1
3,3,Review,sashakrs73@gmail.com,2021-03-05,Тинькофф Банк,3-й раз не привозят карту!,Заявка на карту была сделана 21 февраля. Доста...,1
4,4,Review,89776164857,2021-03-05,СберБанк,Не зачислили деньги,НЕ ЗАЧИСЛИЛИ ДЕНЬГИ!!!!!!!!!! &amp;amp;nbsp; Б...,1

In [5]:
df.shape

(56125, 8)

# SPLIT AT TRAIN AND TEST

In [11]:
def split_data(df: pd.DataFrame, frac: float=0.75) -> tuple:
    to_train = int(df.shape[0] * frac)
    unique_users = df.author.drop_duplicates().values
    train_users = set(np.random.choice(unique_users, size=to_train, replace=False))
    train_set = df[df.author.isin(train_users)].copy()
    test_set = df[~df.author.isin(train_users)].copy()
    return train_set, test_set

In [18]:
train, test = split_data(df)

In [19]:
train

,Unnamed: 0,post_type,author,published,bank,title,body,rating
0,0,Review,ned.veegres,2021-03-07,Тинькофф Банк,Акция Тинькофф &quot;приведи друга&quot;,Привёл друга по акции за вознаграждение 500 ру...,1
1,1,Review,user_1043441,2021-03-07,МТС Банк,Блокировка карты из-за сомнительных операций,"Началось все с того, что без предупреждения и ...",2
2,2,Review,gneg,2021-03-05,Тинькофф Банк,Очень небезопасно доверять им свои деньги,Оставил заявку на дебетовую карту. Со второй п...,1
3,3,Review,sashakrs73@gmail.com,2021-03-05,Тинькофф Банк,3-й раз не привозят карту!,Заявка на карту была сделана 21 февраля. Доста...,1
4,4,Review,89776164857,2021-03-05,СберБанк,Не зачислили деньги,НЕ ЗАЧИСЛИЛИ ДЕНЬГИ!!!!!!!!!! &amp;amp;nbsp; Б...,1
...,...,...,...,...,...,...,...,...
56118,18,Review,Giperion2000,2012-12-28,Связной Банк,Это позор!,"Извините, дальше пойдёт просто крик души! ЭТО ...",1
56119,19,Review,user79175,2012-11-28,Хоум Кредит Банк,Home credit опять выходит на связь,Дважды на данном ресурсе я просил данную орган...,1
56121,21,Review,Giperion2000,2012-08-29,СберБанк,"Карта, которая никогда меня не покинет!","Скажу честно, не было желания писать отзыв, та...",2
56123,23,Review,tjuna,2011-06-16,Альфа-Банк,Банкомат выдал меньшую сумму,Здравствуйте.&amp;lt;br&amp;gt;12 июня 2011г м...,1
56124,24,Review,user79175,2011-06-05,Хоум Кредит Банк,Хоум кредит - проблемы,Когда-то я имел крайне неприятный опыт отношен...,1